
<%= simple_form_for(@debrief) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.hidden_field :user_id %>

  <div class="form-inputs">
    <%= f.input :flightNumber, label: 'Flight Number' %>
    <%= f.input :preparationRating, label: 'Planning and Flight Preparation Rating' %>
    <%= f.input :preparationComments, label: 'Planning and FLight Preparation Comments' %>
    <%= f.input :cateringStatus, label: 'Check if there was Catering for Passengers' %>
    <%= f.input :cateringRating %>
    <%= f.input :cateringComments %>
    <%= f.input :clientArrivalTiming, label: 'Client Arrival Timing' %>
    <%= f.input :clientArrivalType, collection: @arrivaltypes, label_method: :arrivalTypes, label: 'How did the Client Arrive?' %>
    <%= f.input :clientArrivalComments, label: 'Client Arrival Comments' %>
    <%= f.input :flightTurbulence, label: 'Select the best depiction of any turbulence you experienced during flight.' %>
    <%= f.input :airborneFlightDelays, collection: @airborneflightdelays, label_method: :airborneFlightDelays, label: 'Select any type of airborne delays that caused the flight to last longer than expected.' %>
    <%= f.input :airborneFlightCheckins, collection: @airborneflightcheckins, label_method: :airborneflightcheckins, label: 'Select how you checked in with the client airborne.'  %>
    <%= f.input :flightComments, label: 'Flight Comments' %>
    <%= f.input :clientDepartureType, collection: @departuretypes, label_method: :departureTypes, label: 'How did the client depart?' %>
    <%= f.input :clientDepartureComments, label: 'Departure Comments' %>
    <%= f.input :overallComments, label: 'Overall Comments' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
