<% if @debrief.clientArrivalTiming.present? %>
  <% arrivalTimingInitialization = @debrief.clientArrivalTiming %>
<% end %>
<%= simple_form_for(@debrief, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :flight_id %>

<div class="form-inputs">

<!--
    <h4>Flight Data</h4>
    <%= f.input :flight_id, collection: @flights, label_method: :flightNumber, label: 'Flight Number' %>

    <hr>
-->
    
    <%= f.input :overallComments, label: 'Overall Comments', :input_html => {:rows => 4} %>

    <hr>

    <div class="grid-x grid-padding-x">
      <div class="cell small-12 large-6">
        <h4>
          Planning and Flight Preparation Rating
          <i id="planningInfo" style="color:grey;" class="fa fa-info-circle" data-open="planningModal"></i>
        </h4>
        <%= f.hidden_field :preparationRating, label: 'Planning and Flight Preparation Rating' %>
      </div>
      <div class="cell small-12 large-6">
        <div class="rating-block">
          <div class="rating-block-rating" data-rating>
            <div id="preparationRating1" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="preparationRating2" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="preparationRating3" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="preparationRating4" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="preparationRating5" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.input :preparationComments, label: 'Comments', :input_html => {:rows => 2} %>

    <% if @flight.revenue_test == true %>

      <hr>

      <h4>
        Catering
        <i id="cateringInfo" style="color:grey;" class="fa fa-info-circle" data-open="cateringModal"></i>
      </h4>
      <%= f.input :cateringStatus, label: 'Check if there was Catering for Passengers' %>
      <%= f.hidden_field :cateringRating %>

      <div class="hide" id="catering_block">
        <div class="rating-block">
          <div class="rating-block-rating" data-rating>
            <div id="cateringRating1" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="cateringRating2" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="cateringRating3" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="cateringRating4" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
            <div id="cateringRating5" class="star">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
                <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
              </svg>
            </div>
          </div>
        </div>

        <%= f.input :cateringComments, label: 'Comments', :input_html => {:rows => 2} %>
      </div>

      <hr>

      <h4>
        Client Arrival Experience
        <i id="arrivalInfo" style="color:grey;" class="fa fa-info-circle"></i>
      </h4>

      <%= f.hidden_field :client_arrival_rating, label: 'Client Arrival Experience Rating' %>


      <div class="rating-block">
        <div class="rating-block-rating" data-rating>
          <div id="client_arrival_rating1" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_arrival_rating2" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_arrival_rating3" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_arrival_rating4" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_arrival_rating5" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
        </div>
      </div>    

      <div class="grid-x grid-margin-x">
        <div class="cell small-5">
          <%= f.input :clientArrivalTiming, label: 'Client Arrival Timing' %>
        </div>
        <div class="cell small-7">
          <div class="slider" data-slider data-initial-start="<%= arrivalTimingInitialization %>" data-start="-60" data-end="60">
            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="debrief_clientArrivalTiming"></span>
            <span class="slider-fill" data-slider-fill></span>
          </div>
        </div>
      </div>

      <%= f.input :clientArrivalType, collection: @arrivaltypes, label_method: :arrivalTypes, label: 'How did the Client Arrive?' %>
      <%= f.input :clientArrivalComments, label: 'Client Arrival Comments', :input_html => {:rows => 2} %>

      <hr>

      <h4>
        Airborne Feedback
        <i style="color:grey;" class="fa fa-info-circle"></i>
      </h4>

      <%= f.hidden_field :airborne_rating, label: 'Client Arrival Experience Rating' %>


      <div class="rating-block">
        <div class="rating-block-rating" data-rating>
          <div id="airborne_rating1" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="airborne_rating2" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="airborne_rating3" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="airborne_rating4" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="airborne_rating5" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
        </div>
      </div>

      <% if @debrief.flightTurbulence.present? %>
        <% tempTurbulence = @debrief.flightTurbulence %>
        <% tempFlightDelays = @debrief.airborneFlightDelays %>
        <% tempFlightCheckins = @debrief.airborneFlightCheckins %>
      <% else %>
        <% tempTurbulence = 1 %>
        <% tempFlightDelays = 1 %>
        <% tempFlightCheckins = 1 %>      
      <% end %>
      <%= f.input :flightTurbulence, collection: @flightTurbulences, label_method: :turbulenceType, :selected => tempTurbulence, label: 'Select the best depiction of any turbulence you experienced during flight.' %>
      <%= f.input :airborneFlightDelays, collection: @airborneflightdelays, label_method: :airborneFlightDelays, :selected => tempFlightDelays, label: 'Select any type of airborne delays that caused the flight to last longer than expected.' %>
      <%= f.input :airborneFlightCheckins, collection: @airborneflightcheckins, label_method: :airborneflightcheckins, :selected => tempFlightCheckins, label: 'Select how you checked in with the client airborne.'  %>
      <%= f.input :flightComments, label: 'Flight Comments', :input_html => {:rows => 2} %>

      <hr>

      <h4>
        Client Departure
        <i style="color:grey;" class="fa fa-info-circle"></i>
      </h4>
      <%= f.hidden_field :client_departure_rating, label: 'Client Arrival Experience Rating' %>


      <div class="rating-block">
        <div class="rating-block-rating" data-rating>
          <div id="client_departure_rating1" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_departure_rating2" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_departure_rating3" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_departure_rating4" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="client_departure_rating5" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
        </div>
      </div>
      
      <%= f.input :clientDepartureType, collection: @departuretypes, label_method: :departureTypes, label: 'How did the client depart?' %>
      <%= f.input :clientDepartureComments, label: 'Comments', :input_html => {:rows => 2} %>

    <% end %>

    <hr>

    <h4>
      Maintenance
      <i style="color:grey;" class="fa fa-info-circle"></i>
    </h4>
    <%= f.input :maintenance_check, label: 'Check if there was any maintenance issues' %>
    <%= f.hidden_field :maintenance_rating %>

    <div class="hide" id="maintenance_block">
      <div class="rating-block">
        <div class="rating-block-rating" data-rating>
          <div id="maintenance_rating1" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="maintenance_rating2" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="maintenance_rating3" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="maintenance_rating4" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
          <div id="maintenance_rating5" class="star">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="37" viewBox="0 0 40 37">
              <polygon fill="none" points="272 30 260.244 36.18 262.489 23.09 252.979 13.82 266.122 11.91 272 0 277.878 11.91 291.021 13.82 281.511 23.09 283.756 36.18" transform="translate(-252)"/>
            </svg>
          </div>
        </div>
      </div>

      <%= f.input :maintenance_comments, label: 'Comments', :input_html => {:rows => 2} %>
    </div>

    <hr>

  </div>

  <div class="form-actions">
    <div class="grid-x grid-padding-x">
        <div class="cell small-6 text-center">
            <%= f.button :submit, "Submit", :class => "hollow" %>
        </div>
        <div class="cell small-6 text-center">
          <%= f.button :submit, "Save for later", :class => "hollow warning" %>
        </div>
    </div>
  </div>

<% end %>

<div id="planningModal" class="reveal small" data-reveal>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h4>Planning and Flight Preparation</h4>

  <h6>Planning and preparation is feedback on how Team Blue and Flight Support prepared the Flight Crew for this flight.</h6>

  <p><strong><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i> for Exceptional Support</strong> - Either Team Blue and/or Flight Support went above and beyond preparing the Flight Crew to provide above and beyond support to the Member.  Flight crew should provide justification in the comments section for selecting 5 Stars.</p>

  <p><strong><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i> for Great Support</strong> - Team Blue and Flight Support did a great job planning this flight. Selecting 4 Stars doesn't require any additional comments, but comments/feedback are always encouraged.</p>

  <p><strong><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i> for Good Support</strong> - There were small holes in the planning/preparation of the flight.  Selecting 3 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:red;" class="fa fa-star"></i><i style="color:red;" class="fa fa-star"></i> for Poor Support</strong> - There were significant mistakes in the planning and preparation of the flight.  Selecting 2 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:darkred;" class="fa fa-star"></i> for Unsatisfactory Support</strong> - There were gross errors in planning and preparation of the flight.  Selecting 1 Star requires the Flight Crew to leave a substantial comments that clearly justify what was missing/wrong with the planning preparation of the flight. Finally, 1 Star ratings should also include a phone call to Flight Support to discuss the issues.</p>  
</div>

<div id="cateringModal" class="reveal small" data-reveal>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h4>Catering</h4>

  <h6>Catering feedback is primarily on the catering company and the meals themselves.</h6>

  <p><strong><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i> for Exceptional Catering</strong> - Catering support was exceptional.  Catering was early, presentation was amazing and member made unsolicited comment on the quality of the meal.  Flight crew should provide justification in the comments section for selecting 5 Stars.</p>

  <p><strong><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i> for Great Catering</strong> - Catering support was very good.  Catering was early or on-time, presentation was very good and the meals met the needs of the member.  Selecting 4 Stars doesn't require any additional comments, but comments/feedback are always encouraged.</p>

  <p><strong><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i> for Good Catering</strong> - There were small issues with the catering that require follow-up with catering company.  Either catering was late or there were issues with what was delivered - but was rectified before member showed up at aircraft.  Selecting 3 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:red;" class="fa fa-star"></i><i style="color:red;" class="fa fa-star"></i> for Poor Catering</strong> - There were significant mistakes in the catering.  Either there was mistakes in the meals or the catering was so late that it impacted the flight.  Selecting 2 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:darkred;" class="fa fa-star"></i> for Unsatisfactory Catering</strong> - There were gross errors in catering.  Selecting 1 Star requires the Flight Crew to leave substantial comments that clearly justify what was missing/wrong with the catering service. Finally, 1 Star ratings should also include a phone call to Flight Support to discuss the issues.</p>  
</div>

<div id="arrivalModal" class="reveal small" data-reveal>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h4>Member Arrival Experience</h4>

  <h6>This rating is feedback on how the first phase, member's arrival, boarding and briefing, went.  Comments should be focused on how smoothly the member's arrival to the FBO and aircraft went, to include FBO (CSA) support, whether the member was able to proceed planeside or if they had to park outside the FBO, as well as the loading of luggage and passengers aboard the airplane.  This is an assessment on how the experience of member's arrival went.</h6>

  <p><strong><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i><i style="color:darkgreen;" class="fa fa-star"></i> for an Exceptional Arrival Member Experience</strong> - Either Team Blue and/or Flight Support went above and beyond preparing the Flight Crew to provide above and beyond support to the Member.  Flight crew should provide justification in the comments section for selecting 5 Stars.</p>

  <p><strong><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i><i style="color:green;" class="fa fa-star"></i> for a Great Arrival Member Experience</strong> - Team Blue and Flight Support did a great job planning this flight. Selecting 4 Stars doesn't require any additional comments, but comments/feedback are always encouraged.</p>

  <p><strong><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i><i style="color:orange;" class="fa fa-star"></i> for a Good Arrival Member Experience</strong> - There were small holes in the planning/preparation of the flight.  Selecting 3 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:red;" class="fa fa-star"></i><i style="color:red;" class="fa fa-star"></i> for a Poor Arrival Member Experience</strong> - There were significant mistakes in the planning and preparation of the flight.  Selecting 2 Stars requires the Flight Crew to leave a comment to that clearly defines what was missing/wrong with the planning preparation of the flight.</p>

  <p><strong><i style="color:darkred;" class="fa fa-star"></i> for a Unsatisfactory Arrival Member Experience</strong> - There were gross errors in planning and preparation of the flight.  Selecting 1 Star requires the Flight Crew to leave a substantial comments that clearly justify what was missing/wrong with the planning preparation of the flight. Finally, 1 Star ratings should also include a phone call to Flight Support to discuss the issues.</p>  
</div>

<script>
  $('[data-rating] .star').on('click', function() {
    var selectedCssClass = 'selected';
    var $this = $(this);
    var ratingString = this.id.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + this.id.slice(0,-1);
    $this.siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $this
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);
  });

  $( "#debrief_cateringStatus" ).on('click', function() {
    if ($( "#debrief_cateringStatus" ).is(':checked') ) {
      $( "#catering_block" ).removeClass( "hide" ).addClass( "show" );
    }
    else {
      $( "#catering_block" ).removeClass( "show" ).addClass( "hide" );
    };
  });

  $(document).ready(function() {
    var selectedCssClass = 'selected';
    var typeRating = "#preparationRating" + $("#debrief_preparationRating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    var typeRating = "#cateringRating" + $("#debrief_cateringRating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    var typeRating = "#client_arrival_rating" + $("#debrief_client_arrival_rating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    var typeRating = "#airborne_rating" + $("#debrief_airborne_rating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    var typeRating = "#client_departure_rating" + $("#debrief_client_departure_rating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    var typeRating = "#maintenance_rating" + $("#debrief_maintenance_rating").val();
    var ratingString = typeRating.slice(-1);
    var ratingValue = parseInt(ratingString);
    var ratingClass = "#debrief_" + typeRating.slice(0,-1);
    $(typeRating).siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $(typeRating)
      .addClass(selectedCssClass)
      .parent().addClass('is-voted');
    $(ratingClass).val(ratingValue);

    if ($( "#debrief_maintenance_check" ).is(':checked') ) {
      $( "#maintenance_block" ).removeClass( "hide" ).addClass( "show" );
    }
    else {
      $( "#maintenance_block" ).removeClass( "show" ).addClass( "hide" );
    };

    if ($( "#debrief_cateringStatus" ).is(':checked') ) {
      $( "#catering_block" ).removeClass( "hide" ).addClass( "show" );
    }
    else {
      $( "#catering_block" ).removeClass( "show" ).addClass( "hide" );
    };
  });


  $( "#debrief_maintenance_check" ).on('click', function() {
    if ($( "#debrief_maintenance_check" ).is(':checked') ) {
      $( "#maintenance_block" ).removeClass( "hide" ).addClass( "show" );
    }
    else {
      $( "#maintenance_block" ).removeClass( "show" ).addClass( "hide" );
    };
  });

  $(function(){ $(document).foundation(); });
</script>
