
<%= simple_form_for(@debrief) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :flightNumber %>
    <%= f.input :preparationRating %>
    <%= f.input :preparationComments %>
    <%= f.input :cateringStatus %>
    <%= f.input :cateringRating %>
    <%= f.input :cateringComments %>
    <%= f.input :clientArrivalTiming %>
    <%= f.input :clientArrivalType, collection: @arrivaltypes, label_method: :arrivalTypes %>
    <%= f.input :clientArrivalComments %>
    <%= f.input :flightTurbulence %>
    <%= f.input :airborneFlightDelays, collection: @airborneflightdelays, label_method: :airborneFlightDelays %>
    <%= f.input :airborneFlightCheckins, collection: @airborneflightcheckins, label_method: :airborneflightcheckins  %>
    <%= f.input :flightComments %>
    <%= f.input :clientDepartureType, collection: @departuretypes, label_method: :departureTypes %>
    <%= f.input :clientDepartureComments %>
    <%= f.input :overallComments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
