<p id="notice"><%= notice %></p>

<h3>Feedback/Debriefs</h3>
    
    <% @debriefs.each do |debrief| %>
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
        <h4>
          <% flight = Flight.find(debrief.flight_id) %>
          <% flightNumber = flight.flightNumber %>
          <% flightLink = "Flight " + flightNumber %>
          <%= debrief.created_at.localtime.strftime ("%m/%d/%y %l:%M%P") %> - <%= link_to flightLink, debrief %> from <%= Airfield.find(flight.departureAirfield).icao %> to <%= Airfield.find(flight.arrivalAirfield).icao %>
        </h4>
      </div>
    </div>
    
    <% end %>

<br>

<%= link_to 'New Debrief', new_debrief_path, :remote => true %>
