<p id="notice"><%= notice %></p>

<% @debriefs = Debrief.where(finish_later: nil).includes(:flight).order("flights.created_at desc").page params[:page] %>

<div class="grid-x grid-padding-x">
  <div class="cell small-6 text-left">
    <h1>Feedback/Debriefs</h1>
  </div>
</div>

<div id="debriefs">
  <% @debriefs.each do |debrief| %>
    <% commentCount = Comment.where(:debrief_id => debrief.id).count %>
    <% commentColor = "gray" %>
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
        <h4>
          <% if debrief.star_rating_value.present? %>
            <% if debrief.star_rating_value[0] == 1 %>
              <% starColorPrep = "darkred" %>
            <% elsif debrief.star_rating_value[0] == 2 %>
              <% starColorPrep = "red" %>
            <% elsif debrief.star_rating_value[0] == 3 %>
              <% starColorPrep = "orange" %>
            <% elsif debrief.star_rating_value[0] == 4 %>
              <% starColorPrep = "green" %>
            <% elsif debrief.star_rating_value[0] == 5 %>
              <% starColorPrep = "darkgreen" %>  
            <% end %>
            <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
          <% end %>
          <% flight = Flight.find(debrief.flight_id) %>
          <% flightNumber = flight.flightNumber %>
          <% flightLink = "Flight #" + flightNumber + " from " + flight.departureAirfield + " to " + flight.arrivalAirfield %>
          <%= link_to flightLink, debrief, :remote => true %>
          <% if commentCount > 0 %>
            <% lastComment = debrief.comments.order(:created_at).last %>
            <% if debrief.viewed_debriefs.where(:user_id => current_user.id).present? %>
              <% lastDebriefView = debrief.viewed_debriefs.where(:user_id => current_user.id).order(:created_at).last %>
              <% if lastDebriefView.created_at < lastComment.created_at %>
                  <% commentColor = "red" %>
              <% end %>
            <% else %>
              <% commentColor = "red" %> 
            <% end %> 
            <div class="comments_container" style="color:<%= commentColor %>;"><%= commentCount %></div>&nbsp&nbsp
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
</div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 text-center"> 
    <%= paginate @debriefs, remote: true %>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<!--

<%= link_to 'New Debrief', new_debrief_path, :remote => true %>

-->

<div class="show-for-small-only">
  <div class="mobile-app-icon-bar footer">
    <div class="grid-x grid-padding-x">
      
    </div>    
  </div>
</div>

