<p id="notice"><%= notice %></p>

<h1>Debriefs</h1>

    <% @debriefs.each do |debrief| %>

    <h4>
      <% flight = Flight.find(debrief.flight_id) %>
      <% flightNumber = flight.flightNumber %>
      <% flightLink = "Flight " + flightNumber %>
      <%= debrief.created_at %> - <%= link_to flightLink, debrief %> from <%= Airfield.find(flight.departureAirfield).icao %> to <%= Airfield.find(flight.arrivalAirfield).icao %>
    </h4>
    
    <% end %>

<br>

<%= link_to 'New Debrief', new_debrief_path, :remote => true %>
