<p id="notice"><%= notice %></p>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

  <% localFlight = Flight.find(@debrief.flight_id) %>

<div class="grid-x grid-padding-x">
  <div class="cell small-6 small-offset-3 medium-4 medium-offset-4 large-2 large-offset-5">
    <% imageName = Aircraft.find(localFlight.aircraft).aircraftType + ".png" %>
    <%= image_tag(imageName) %>
  </div>
  <div class="cell small-12 text-center">
    <h3>
      Flight #<%= localFlight.flightNumber %>  

        <% if @debrief.star_rating_value[0] == 1 %>
          <% starColorPrep = "darkred" %>
        <% elsif @debrief.star_rating_value[0] == 2 %>
          <% starColorPrep = "red" %>
        <% elsif @debrief.star_rating_value[0] == 3 %>
          <% starColorPrep = "orange" %>
        <% elsif @debrief.star_rating_value[0] == 4 %>
          <% starColorPrep = "green" %>
        <% elsif @debrief.star_rating_value[0] == 5 %>
          <% starColorPrep = "darkgreen" %>  
        <% end %>
        <% n=0 %>
        <% while n< @debrief.star_rating_value[0] %>
          <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
          <% n += 1 %>
        <% end %>
        <% if @debrief.star_rating_remainder < 0.5 %>
          <% numerator = 1 %>
          <% denominator = 4 %>
        <% elsif @debrief.star_rating_remainder < 0.75 %>
          <% numerator = 1 %>
          <% denominator = 2 %>
        <% elsif @debrief.star_rating_remainder < 0.99 %>
          <% numerator = 3 %>
          <% denominator = 4 %> 
        <% end %>
        <% if @debrief.star_rating_remainder == 0 %>
        <% else %>
          <span style="color:<%= starColorPrep %>;"><sup><%= numerator %></sup>&frasl;<sub><%= denominator %></sub></span>
        <% end %>
    </h3>
  </div>
</div>

<h4>
  <%= localFlight.departureAirfield %> - <%= localFlight.arrivalAirfield %> 
  <% if localFlight.revenue_test == false %>
    (Repo Flight)
  <% else %>
    with <%= localFlight.client %>
  <% end %>

  <% if localFlight.aircraft.present? %>
    on <%= Aircraft.find(localFlight.aircraft).tailNumber %>
  <% end %>
  - <%= localFlight.dateOfFlight.strftime ("%b %d") %>
</h4>


<h5>
  Crew: 
  <% if localFlight.pic.present? %>
    Captain <%= User.find(localFlight.pic).fullName %>
    <% if localFlight.sic.present? %>
      and First Officer <%= User.find(localFlight.sic).fullName %>
    <% end %>
  <% end %>
</h5>

<p>
  <strong>Comments:</strong>
  <%= @debrief.overallComments %>
</p>

<h4>
  Flight Planning and Preparation 

  <% if @debrief.preparationRating.present? %>

    <% if @debrief.preparationRating == 1 %>
      <% starColorPrep = "darkred" %>
    <% elsif @debrief.preparationRating == 2 %>
      <% starColorPrep = "red" %>
    <% elsif @debrief.preparationRating == 3 %>
      <% starColorPrep = "orange" %>
    <% elsif @debrief.preparationRating == 4 %>
      <% starColorPrep = "green" %>
    <% elsif @debrief.preparationRating == 5 %>
      <% starColorPrep = "darkgreen" %>  
    <% end %>
    <% n=0 %>
    <% while n< @debrief.preparationRating %>
      <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
      <% n += 1 %>
    <% end %>

  <% end %>  
</h4>

<p>
  <strong>Comments:</strong>
  <%= @debrief.preparationComments %>
</p>

<% if @debrief.cateringStatus == true %>
  <h4>
    Catering 

    <% if @debrief.cateringRating.present? %>

      <% if @debrief.cateringRating == 1 %>
        <% starColorCater = "darkred" %>
      <% elsif @debrief.cateringRating == 2 %>
        <% starColorCater = "red" %>
      <% elsif @debrief.cateringRating == 3 %>
        <% starColorCater = "orange" %>
      <% elsif @debrief.cateringRating == 4 %>
        <% starColorCater = "green" %>
      <% elsif @debrief.cateringRating == 5 %>
      <% starColorCater = "darkgreen" %> 
      <% end %>
      <% n=0 %>
      <% while n< @debrief.cateringRating %>
        <i style="color:<%= starColorCater %>;" class="fa fa-star"></i>
        <% n += 1 %>
      <% end %>  

    <% end %>
  </h4>

  <p>
    <strong>Comments:</strong>
    <%= @debrief.cateringComments %>
  </p>
<% end %>

<% if localFlight.revenue_test == true %>

  <h4>
    Member's Arrival

    <% if @debrief.client_arrival_rating.present? %>

      <% if @debrief.client_arrival_rating == 1 %>
        <% starColorPrep = "darkred" %>
      <% elsif @debrief.client_arrival_rating == 2 %>
        <% starColorPrep = "red" %>
      <% elsif @debrief.client_arrival_rating == 3 %>
        <% starColorPrep = "orange" %>
      <% elsif @debrief.client_arrival_rating == 4 %>
        <% starColorPrep = "green" %>
      <% elsif @debrief.client_arrival_rating == 5 %>
        <% starColorPrep = "darkgreen" %>  
      <% end %>
      <% n=0 %>
      <% while n< @debrief.client_arrival_rating %>
        <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
        <% n += 1 %>
      <% end %> 

    <% end %>  
  </h4>

  <p>
    <strong>Comments: </strong>
    <% if @debrief.clientArrivalTiming == 0 %>
      Client arrived on time
    <% elsif @debrief.clientArrivalTiming == -1 %>
      Client arrived 1 minute early
    <% elsif @debrief.clientArrivalTiming < -1 %>
      Client arrived <%= @debrief.clientArrivalTiming.abs %> minutes early 
    <% elsif @debrief.clientArrivalTiming == 1 %>
      Client arrived 1 minute late
    <% elsif @debrief.clientArrivalTiming > 1 %>
      Client arrived <%= @debrief.clientArrivalTiming %> minutes late
    <% end %>

    <% if @debrief.clientArrivalType.empty? %>
      . However, there is no report of arrival type.
    <% else %>
       in a <%= Arrivaltype.find(@debrief.clientArrivalType).arrivalTypes %>.
    <% end %>

    <%= @debrief.clientArrivalComments %>
  </p>

  <h4>
    Member's Flight Experience

    <% if @debrief.airborne_rating.present? %>

      <% if @debrief.airborne_rating == 1 %>
        <% starColorPrep = "darkred" %>
      <% elsif @debrief.airborne_rating == 2 %>
        <% starColorPrep = "red" %>
      <% elsif @debrief.airborne_rating == 3 %>
        <% starColorPrep = "orange" %>
      <% elsif @debrief.airborne_rating == 4 %>
        <% starColorPrep = "green" %>
      <% elsif @debrief.airborne_rating == 5 %>
        <% starColorPrep = "darkgreen" %>  
      <% end %>
      <% n=0 %>
      <% while n< @debrief.airborne_rating %>
        <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
        <% n += 1 %>
      <% end %> 

    <% end %>  

  </h4>

  <p>
    <strong>Comments: </strong>
    <% if FlightTurbulence.find(@debrief.flightTurbulence).turbulenceType == "None" %>
      There was no reportable turbulence on the flight.  
    <% else %>
      There was <%= FlightTurbulence.find(@debrief.flightTurbulence).turbulenceType %> on the flight.
    <% end %>

    <% if Airborneflightdelay.find(@debrief.airborneFlightDelays).airborneFlightDelays == "None" %>
      There were no airborne delays on this flight.  
    <% else %>
      There was a <%= Airborneflightdelay.find(@debrief.airborneFlightDelays).airborneFlightDelays %> delay on the flight.
    <% end %>

    <% if Airborneflightcheckin.find(@debrief.airborneFlightCheckins).airborneflightcheckins == "None" %>
      There were no airborne checkins with the passengers on this flight.  
    <% else %>
      <%= Airborneflightcheckin.find(@debrief.airborneFlightCheckins).airborneflightcheckins %>. 
    <% end %>

    <%= @debrief.flightComments %>
  </p>

  <h4>
    Member's Departure

    <% if @debrief.client_departure_rating.present? %>

      <% if @debrief.client_departure_rating == 1 %>
        <% starColorPrep = "darkred" %>
      <% elsif @debrief.client_departure_rating == 2 %>
        <% starColorPrep = "red" %>
      <% elsif @debrief.client_departure_rating == 3 %>
        <% starColorPrep = "orange" %>
      <% elsif @debrief.client_departure_rating == 4 %>
        <% starColorPrep = "green" %>
      <% elsif @debrief.client_departure_rating == 5 %>
        <% starColorPrep = "darkgreen" %>  
      <% end %>
      <% n=0 %>
      <% while n< @debrief.client_departure_rating %>
        <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
        <% n += 1 %>
      <% end %> 

    <% end %>

  </h4>

  <p>
    <strong>Comments: </strong>
    <% if @debrief.clientDepartureType.empty? %>
      There is no report of the client's departure from the destination airfield.
    <% else %>
      The client departed the destination airfield in a <%= Departuretype.find(@debrief.clientDepartureType).departureTypes %>.
    <% end %>

    <%= @debrief.clientDepartureComments %>
  </p>

<% end %>

<% if @debrief.maintenance_check == true %>
  <h4>
    Maintenance 

    <% if @debrief.maintenance_rating.present? %>

      <% if @debrief.maintenance_rating == 1 %>
        <% starColorCater = "darkred" %>
      <% elsif @debrief.maintenance_rating == 2 %>
        <% starColorCater = "red" %>
      <% elsif @debrief.maintenance_rating == 3 %>
        <% starColorCater = "orange" %>
      <% elsif @debrief.maintenance_rating == 4 %>
        <% starColorCater = "green" %>
      <% elsif @debrief.maintenance_rating == 5 %>
      <% starColorCater = "darkgreen" %> 
      <% end %>
      <% n=0 %>
      <% while n< @debrief.maintenance_rating %>
        <i style="color:<%= starColorCater %>;" class="fa fa-star"></i>
        <% n += 1 %>
      <% end %>  

    <% end %>
  </h4>

  <p>
    <strong>Comments:</strong>
    <%= @debrief.maintenance_comments %>
  </p>
<% end %>


Posted by 

<% if User.find(@debrief.user_id) == User.find(localFlight.pic) %>
  Captain 
<% elsif User.find(@debrief.user_id) == User.find(localFlight.sic) %>
  First Officer
<% end %>
<%= User.find(@debrief.user_id).fullName %>

<br>
<br>

    <h4>

      Comments 
      <%= image_tag("comments.png", width: "30") %>

    </h4>

    <% comments = Comment.roots.where(:debrief_id => @debrief.id) %>

    <div class="comments">
      <% comments.order(:created_at).reverse.each do |comment| %>
        <%= render 'debriefs/comment', comment: comment %>
      <% end %>
    </div>

    <div id="addComments">

    </div>

    <strong>
      <%= link_to "Add new comment", new_comment_path(:debrief_id => @debrief.id, :pastCommentID => "addComments"), :class => "", remote: true %>
    </strong>
<!--

<%= link_to 'Edit', edit_debrief_path(@debrief) %> |

-->

<% if current_user.has_role? :admin %>
  <% debriefViews = ViewedDebrief.where(:debrief_id => @debrief.id) %>
  <% debriefViews.distinct(:user_id).pluck(:user_id).each do |userID| %>

    <p>
      <%= User.find(userID).fullName %> - <%= ViewedDebrief.where(:user_id => userID, :debrief_id => @debrief.id).last.created_at %>
    </p>
  <% end %>

  <i style="color:<%= starColorPrep %>;" data-tooltip tabindex="1" title="Fancy word for a beetle." class="fa fa-question"></i>
<% end %>