<p id="notice"><%= notice %></p>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 text-center">
    <h3>
      Flight #<%= Flight.find(@debrief.flight_id).flightNumber %>
    </h3>
  </div>
</div>

<h4>
  Flight Planning and Preparation 

  <% if @debrief.preparationRating == 1 %>
    <% starColorPrep = "red" %>
  <% elsif @debrief.preparationRating == 2 %>
    <% starColorPrep = "orange" %>
  <% elsif @debrief.preparationRating == 3 %>
    <% starColorPrep = "yellow" %>
  <% elsif @debrief.preparationRating == 4 %>
    <% starColorPrep = "green" %>
  <% elsif @debrief.preparationRating == 5 %>
    <% starColorPrep = "blue" %>  
  <% end %>
  <% n=0 %>
  <% while n< @debrief.preparationRating %>
    <i style="color:<%= starColorPrep %>;" class="fa fa-star"></i>
    <% n += 1 %>
  <% end %>  
</h4>

<p>
  <strong>Comments:</strong>
  <%= @debrief.preparationComments %>
</p>

<% if @debrief.cateringStatus == true %>
  <h4>
    Catering 

    <% if @debrief.cateringRating == 1 %>
      <% starColorCater = "darkred" %>
    <% elsif @debrief.cateringRating == 2 %>
      <% starColorCater = "red" %>
    <% elsif @debrief.cateringRating == 3 %>
      <% starColorCater = "orange" %>
    <% elsif @debrief.cateringRating == 4 %>
      <% starColorCater = "green" %>
    <% elsif @debrief.cateringRating == 5 %>
    <% starColorCater = "darkgreen" %> 
    <% end %>
    <% n=0 %>
    <% while n< @debrief.cateringRating %>
      <i style="color:<%= starColorCater %>;" class="fa fa-star"></i>
      <% n += 1 %>
    <% end %>  
  </h4>

  <p>
    <strong>Comments:</strong>
    <%= @debrief.cateringComments %>
  </p>
<% end %>

<h4>
  Client's Arrival
</h4>

<p>
  <strong>Comments: </strong>
  <% if @debrief.clientArrivalTiming == 0 %>
    Client arrived on time
  <% elsif @debrief.clientArrivalTiming == -1 %>
    Client arrived 1 minute early
  <% elsif @debrief.clientArrivalTiming < -1 %>
    Client arrived <%= @debrief.clientArrivalTiming.abs %> minutes early 
  <% elsif @debrief.clientArrivalTiming == 1 %>
    Client arrived 1 minute late
  <% elsif @debrief.clientArrivalTiming > 1 %>
    Client arrived <%= @debrief.clientArrivalTiming %> minutes late
  <% end %>

  <% if @debrief.clientArrivalType.empty? %>
    . However, there is no report of arrival type.
  <% else %>
     in <%= Arrivaltype.find(@debrief.clientArrivalType).arrivalTypes %>.
  <% end %>

  <%= @debrief.clientArrivalComments %>
</p>

<h4>
  Flight Review
</h4>

<p>
  <strong>Comments:</strong>
  <% if @debrief.flightTurbulence == "1" %>
    There was no reportable turbulence on the flight.  
  <% else %>
    There was <%= @debrief.flightTurbulence %> on the flight.
  <% end %>
</p>

<p>
  <strong>Airborneflightdelays:</strong>
  <%= @debrief.airborneFlightDelays %>
</p>

<p>
  <strong>Airborneflightcheckins:</strong>
  <%= @debrief.airborneFlightCheckins %>
</p>

<p>
  <strong>Flightcomments:</strong>
  <%= @debrief.flightComments %>
</p>

<p>
  <strong>Clientdeparturetype:</strong>
  <%= @debrief.clientDepartureType %>
</p>

<p>
  <strong>Clientdeparturecomments:</strong>
  <%= @debrief.clientDepartureComments %>
</p>

<p>
  <strong>Overallcomments:</strong>
  <%= @debrief.overallComments %>
</p>

<%= link_to 'Edit', edit_debrief_path(@debrief) %> |
<%= link_to 'Back', debriefs_path %>
