<p id="notice"><%= notice %></p>

<p>
  <strong>Flightnumber:</strong>
  <%= Flight.find(@debrief.flight_id).flightNumber %>
</p>

<p>
  <strong>Preparationrating:</strong>
  <%= @debrief.preparationRating %>
</p>

<p>
  <strong>Preparationcomments:</strong>
  <%= @debrief.preparationComments %>
</p>

<p>
  <strong>Cateringstatus:</strong>
  <%= @debrief.cateringStatus %>
</p>

<p>
  <strong>Cateringrating:</strong>
  <%= @debrief.cateringRating %>
</p>

<p>
  <strong>Cateringcomments:</strong>
  <%= @debrief.cateringComments %>
</p>

<p>
  <strong>Clientarrivaltiming:</strong>
  <%= @debrief.clientArrivalTiming %>
</p>

<p>
  <strong>Clientarrivaltype:</strong>
  <%= @debrief.clientArrivalType %>
</p>

<p>
  <strong>Clientarrivalcomments:</strong>
  <%= @debrief.clientArrivalComments %>
</p>

<p>
  <strong>Flightturbulence:</strong>
  <%= @debrief.flightTurbulence %>
</p>

<p>
  <strong>Airborneflightdelays:</strong>
  <%= @debrief.airborneFlightDelays %>
</p>

<p>
  <strong>Airborneflightcheckins:</strong>
  <%= @debrief.airborneFlightCheckins %>
</p>

<p>
  <strong>Flightcomments:</strong>
  <%= @debrief.flightComments %>
</p>

<p>
  <strong>Clientdeparturetype:</strong>
  <%= @debrief.clientDepartureType %>
</p>

<p>
  <strong>Clientdeparturecomments:</strong>
  <%= @debrief.clientDepartureComments %>
</p>

<p>
  <strong>Overallcomments:</strong>
  <%= @debrief.overallComments %>
</p>

<%= link_to 'Edit', edit_debrief_path(@debrief) %> |
<%= link_to 'Back', debriefs_path %>
