
<%= simple_form_for(@flight, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <% if @editTest == false %>
      <%= f.input :flightNumber %>
    <% else %> 
      <%= f.hidden_field :flightNumber %>
    <% end %>
    <%= f.input :dateOfFlight %>
    <%= f.input :departureAirfield %>
    <%= f.input :arrivalAirfield %>
    <%= f.input :client %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
