
<%= simple_form_for(@flight, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <% if @editTest == false %>
      <%= f.input :flightNumber, label: 'Flight Number' %>
    <% else %> 
      <%= f.hidden_field :flightNumber %>
    <% end %>
    <%= f.input :dateOfFlight, label: 'Date of Flight' %>
    <%= f.input :aircraft, collection: @aircrafts, label_method: :tailNumber, label: 'Aircraft Tail Number' %>
    <%= f.input :pic, collection: @pilots, label_method: :fullName, label: 'Captain' %>
    <%= f.input :sic, collection: @pilots, label_method: :fullName, label: 'First Officer' %>
    <%= f.input :departureAirfield, label: 'Departing Airfield - ICAO' %>
    <%= f.input :arrivalAirfield, label: 'Arriving Airfield - ICAO' %>
    <%= f.input :revenue_test, label: 'Check if a revenue flight' %>
    <div class="hide" id="client_status">
      <%= f.input :client, label: 'Booking Member' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $( "#flight_revenue_test" ).on('click', function() {
    if ($( "#flight_revenue_test" ).is(':checked') ) {
      $( "#client_status" ).removeClass( "hide" ).addClass( "show" );
    }
    else {
      $( "#client_status" ).removeClass( "show" ).addClass( "hide" );
    };
  });


  $(function(){ $(document).foundation(); });
</script>