
<%= simple_form_for(@flight, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <% if @editTest == false %>
      <%= f.input :flightNumber, label: 'Flight Number' %>
    <% else %> 
      <%= f.hidden_field :flightNumber %>
    <% end %>
    <%= f.input :dateOfFlight, label: 'Date of Flight' %>
    <%= f.input :departureAirfield, label: 'Departing Airfield - ICAO' %>
    <%= f.input :arrivalAirfield, label: 'Arriving Airfield - ICAO' %>
    <%= f.input :client, label: 'Booking Client' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
