<p id="notice"><%= notice %></p>


<div class="grid-x grid-padding-x">
  <div class="cell small-6 text-left">
    <h2>Flights</h2>
  </div>

  <div class="cell small-6 text-right">
    <%= link_to 'Add New Flight', new_flight_path, remote: true, class: "hollow button" %>
  </div>
</div>


<div id="flights"%>

  <% @flights.each do |flight| %>
    <div class="grid-x grid-padding-x">
      <div class="cell small-12">
        <h4>
          <% flightDescription = flight.dateOfFlight.strftime ("%m/%d/%y") + " - " + flight.flightNumber + " from " + flight.departureAirfield + " to " + flight.arrivalAirfield %>
          <% if flight.revenue_test == true %>
            <% flightDescription = flightDescription + " with " + flight.client %>
          <% end %>
          <%= link_to flightDescription, flight, :remote => true %>
          <%= link_to edit_flight_path(flight), :class => "", remote: true, data: {:"reveal-id" => "myModal"} do %>
            <%= image_tag("edit24.png", width: "16", :alt => "edit") %>
          <% end %> &nbsp
        </h4>
      </div>
    </div>
  <% end %>

</div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 text-center"> 
    <%= paginate @flights, remote: true %>
  </div>
</div>

<br>

