<p id="notice"><%= notice %></p>

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 text-center">
    <h3>
      Flight #<%= @flight.flightNumber %> - <%= @flight.dateOfFlight %>
    </h3>
  </div>
</div>

<h5>
  <%= @flight.departureAirfield %> - <%= @flight.arrivalAirfield %>

  <% if @flight.revenue_test == false %>
    - Repo Flight
  <% end %>

  <% if @flight.aircraft.present? %>
    on <%= Aircraft.find(@flight.aircraft).tailNumber %>
  <% end %>
</h5>

<h6>
  Captain <%=User.find(@flight.pic).fullName %> and First Officer <%=User.find(@flight.sic).fullName %>
</h6>


<hr/>

<% if @flight.revenue_test == true %>
  <h6>
    Member: 
    <%= @flight.client %>
  </h6>
<% end %>

<div class="text-right">
  <% if @flight.debrief.present? && @flight.debrief.finish_later == nil %>
  	<% debrief = @flight.debrief %>
  	<%= link_to "Debrief", debrief, :remote => true, class: "button" %> 
  <% elsif @flight.debrief.present? && @flight.debrief.finish_later == true && @flight.debrief.user_id == current_user.id %>
    <%= link_to 'Edit Debrief', edit_debrief_path(@flight.debrief), :remote => true, class: "button" %>
  <% elsif (@flight.pic.to_i == current_user.id || @flight.sic.to_i == current_user.id) && !(@flight.debrief.present?) %>
  	<%= link_to 'New Debrief', new_debrief_path(:flight_id => @flight.id), :remote => true, class: "button" %>
  <% end %>
</div>

<!-- 

| <%= link_to 'Edit', edit_flight_path(@flight) %>

-->
