<p id="notice"><%= notice %></p>

<h1>Airborneflightcheckins</h1>

<table>
  <thead>
    <tr>
      <th>Airborneflightcheckins</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airborneflightcheckins.each do |airborneflightcheckin| %>
      <tr>
        <td><%= airborneflightcheckin.airborneflightcheckins %></td>
        <td><%= link_to 'Show', airborneflightcheckin %></td>
        <td><%= link_to 'Edit', edit_airborneflightcheckin_path(airborneflightcheckin) %></td>
        <td><%= link_to 'Destroy', airborneflightcheckin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airborneflightcheckin', new_airborneflightcheckin_path %>
