<p id="notice"><%= notice %></p>

<p>
  <strong>Fboname:</strong>
  <%= @fbo.fboName %>
</p>

<p>
  <strong>Airfield:</strong>
  <%= Airfield.find(@fbo.airfield_id).icao %>
</p>

<%= link_to 'Edit', edit_fbo_path(@fbo) %> |
<%= link_to 'Back', fbos_path %>
