

<%= image_tag("NicholasAirLogo.png", :alt => "rss feed") %>

<h2>Nicholas Air Knowledge Application</h2>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if user_signed_in? %>
        <li><%= link_to "Debriefs", debriefs_path, :class => "", remote: true %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <% if user_signed_in? %>
    <ul class="dropdown menu" data-dropdown-menu>
      <li><%= current_user.email %></li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
    </ul>
    <% end %>
  </div>
</div>

<div id="applicationContent">

  <% if user_signed_in? %>

  <% end %>

</div>

<div id="myModal" class="reveal large" data-reveal>
    
</div>


